html {
    font-family: 'Quicksand', sans-serif;
    margin:0;
    text-align: left;
    height:100vh;
    width:100%;
    font-size:14pt;
}

.contain {
    display:flex;
    gap:1rem;
    flex-direction:column;
    justify-content: center;
    margin-left: 10%;
    margin-right:10%;
}
.nav {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    font-weight: 700;
    margin:0;
    width:100%;
    display:flex;
    padding:10px;
    gap:20px;
    background-color: rgb(216, 255, 246);
}

a {
    text-decoration: none;
    color:#ffffff;
}

.index-nav {
    text-decoration: none;
    color:#05bac0;
}  


.header {
    margin-bottom:15px;
    padding:100px;
}

.header h1 {
    font-family: 'Bad Script', cursive;
    color:white;
    font-size: 45pt;
    margin:0;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 40pt;
    color:#05c0c0;
}


#header-text {
    margin:0;
    color:rgb(170, 190, 255);
    font-family: 'Quicksand', sans-serif;
    text-align: right;
    font-weight: 300;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 25pt;
    color:#ac76eb;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 20pt;
    color:#ac76eb;
}

h4 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 15pt;
    color:#ac76eb;
}

h5 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 20;
    color:rgb(1, 131, 120);
}

.colour-link {
    color:#410f7a;
    ;
}

p,li {
    font-family: 'Quicksand', sans-serif;
    color: #621db1;
    padding:5px;
}

.portfolio li {
    font-weight:bold;
}

.profile span {
    color:#05bac0;
    font-size:25pt;
    font-weight:300;
}

span {
    font-weight:bold;
}

.gradient-background {
    background: linear-gradient(300deg, #17fff3, #9232ff, #3ffdbe);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.resume-top, .brief {
    display:flex;
    margin:25px;
}

.resume-mid {
    display:flex;
    margin:25px;
}
.skills,.resume-coop, #the-chase {
    padding-left:25px;
}

.summary, #chase-case {
    width:50%;
    padding-right:25px;
    border-right:dotted #05bac060;
}

.work-experience {
    margin-left:25px;
}

.resume-cbs {
    padding-right:25px;
    border-right:dotted #05bac060;

}

@media (max-width:600px) {
    .resume-top, .resume-mid {
        display:inline-block;
    }

    .resume-top > div, .resume-mid > div {
        width: 100%;
        border-right:none;
        border-bottom:dotted #05bac060;
        padding-bottom:30px;
    
    }

    .education {
        border-bottom:dotted #05bac060;

    }

    h1 {
        text-align: center;
    }

    .white-space {
        height:10px;
    }

    .nav, .index-nav, .footers {
        font-size: 10pt;
    }

    video {
        width:320px;
        height:240;
        margin-bottom: 25px;
    }

    .video {
        width:100%;
        flex-direction:column;
    }
}

@media (min-width:1200px) {
    .resume-top,.resume-mid    {
       width:90%;
       margin-right:100px;
       margin-left:100px;
       justify-content: center;
    }


     .resume-cbs {
        margin-left:200px;
        width:50%;
     }

     .resume-coop {
        margin-right:200px;
        width:50%
     }
 
     .education,.work-experience,.self-learning {
        margin-left: 250px;
     } 

     .video p {
        margin-left: 50px;
        width: 20%;
     }
}


.profile {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:25px;
}

#profile-picture {
    border-radius:50%;
    border:dotted #05bac060;
    padding:10px;

}

.cards {
    margin-bottom: 25px;;
}

.blue-card h3 {
    color:#05c0b7;
}

.blue-card p {
    color:#087275;
}

.education {
    padding-bottom:25px;
}

.education *,.self-learning * {
    color:#0a9c9c;
}

.education li,.self-learning li {
    padding:20px;
}

.footers {
    width:100%;
    margin-top:50px;
}

.footer-containers {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    font-weight: 700;
    margin:0;
    width:100%;
    display:flex;
    padding:15px;
    gap:15px;
}

.footers a {
    color:white;
}

.col img {
    object-fit: cover;
}

.white-space {
    height:500px;
}

.carousel-item img {
    object-fit: cover;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.445);
    padding:50px;
    border-radius:10px;
}
.carousel-caption h1 {
    font-family: 'Bad Script', cursive;
    color:white;
    font-size: 45pt;
    margin-bottom:20;
}
 #myCarousel {
    height:70%;
 }

.video {
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom:dotted #05bac060;
    padding-bottom: 50px;
    margin-bottom: 50px;;
}

.brief, .portfolio  {
    justify-content: center;
    border-bottom:dotted #05bac060;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.content {
    text-align: left;
}